In [1]:
import facebook
import pandas as pd
import pymongo
import time
from pymongo import MongoClient
from transformers import pipeline

connection = MongoClient("mongodb://localhost:27017")
db = connection.IndeedJobPostDB
df = pd.DataFrame(list(db.Job_Posts.find()))
df = df.sort_values(by=['Current_Date'], ascending=False)
df = df.reset_index(drop=True)
df

,_id,Unnamed: 0,JobID,Title,Job_Type,Company,Salary,Schedule,Location,Date_Posted,Current_Date,Details,Apply_link
0,64e461ba602f350b823dc0e0,0,NY14072023FRI001,FOOD SERVER ASSISTANT (BUSSER),Full-time,Park Hyatt New York,$17.29 - $23.06 an hour,NaN,"New York, NY 10019 (Midtown area)",Just posted,23-07-14,The Food Server Assistant is responsible prima...,https://www.indeed.com//rc/clk?jk=923ac23a84cb...
1,64e461ba602f350b823dc13e,94,TX14072023FRI1005,Host/Hostess,Part-time,Gyu-Kaku Japanese BBQ,NaN,Weekends as needed+2,"Houston, TX 77070 (Willowbrook area)",Just posted,23-07-14,Helpful attitude and friendly demeanor. He or ...,https://www.indeed.com//rc/clk?jk=9a6e26a88780...
2,64e461ba602f350b823dc140,96,TX14072023FRI1007,Host,Part-time,Denny's - Westheimer Road,NaN,Weekends as needed+1,"Houston, TX 77077",Just posted,23-07-14,"A Denny’s Host or Hostess has a “Guests First""...",https://www.indeed.com//rc/clk?jk=bcc00ac3cafb...
3,64e461ba602f350b823dc141,97,TX14072023FRI1008,Server,"Full-time, Part-time",Denny's - 6131 Highway 6 S,NaN,Weekends as needed+1,"Missouri City, TX 77459",Just posted,23-07-14,Prior experience in one of the following roles...,https://www.indeed.com//rc/clk?jk=81be6634db19...
4,64e461ba602f350b823dc142,98,TX14072023FRI1009,Server,"Full-time, Part-time",Denny's - W. Pasadena Fwy,NaN,Weekends as needed+1,"Pasadena, TX 77506",Just posted,23-07-14,Prior experience in one of the following roles...,https://www.indeed.com//rc/clk?jk=5114425a2fc5...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,64e461ba602f350b823dc112,50,NY14072023FRI3006,"Server - Brooklyn, NY",Full-time,Sushi Tokyo Inc,$20 - $45 an hour,NaN,"Brooklyn, NY 11223 (Gravesend-Sheepshead Bay a...",Today,23-07-14,Provide accurate orders to the kitchen staff. ...,https://www.indeed.com//rc/clk?jk=375a7aff9356...
146,64e461ba602f350b823dc113,51,NY14072023FRI3007,Food and Beverage Supervisor,Full-time,1 Hotel Brooklyn Bridge,$29 an hour,NaN,"Brooklyn, NY 11201",Today,23-07-14,That means hiring leaders for our Food & Bever...,https://www.indeed.com//rc/clk?jk=ee7acf1ff07e...
147,64e461ba602f350b823dc114,52,NY14072023FRI3008,Server Assistant (Earn up to $800/wk),Full-time,Au Cheval NYC,NaN,Weekends as needed+2,"New York, NY 11203 (East Flatbush area)",Today,23-07-14,Ofrecemos un conjunto completo de beneficios y...,https://www.indeed.com//rc/clk?jk=ffe1a20f22e0...
148,64e461ba602f350b823dc115,53,NY14072023FRI3009,Busperson - Conrad New York Downtown,NaN,Hilton,Estimated $39.4K - $49.8K a year,NaN,"New York, NY 10282 (Battery Park area)",Today,23-07-14,Respond to guest inquiries and requests and re...,https://www.indeed.com//rc/clk?jk=dd0d55f52262...
149,64e461ba602f350b823dc175,149,TX14072023FRI4015,"CHEF, SOUS - HOURLY (FULL-TIME)",Full-time,Eurest,NaN,Monday to Friday,"Spring, TX 77389",Today,23-07-14,We are hiring immediately for a full-time CHEF...,https://www.indeed.com//rc/clk?jk=4b3d5dba2b04...

- Get Data
- Filter data
- set timer for posts
- Post at each group (based on location)

In [2]:
df.isna().sum()

_id              0
Unnamed: 0       0
JobID            0
Title            0
Job_Type        12
Company          0
Salary          79
Schedule        73
Location         0
Date_Posted      0
Current_Date     0
Details          0
Apply_link       0
dtype: int64

In [3]:
df = df[df.Schedule.notnull()]
df

,_id,Unnamed: 0,JobID,Title,Job_Type,Company,Salary,Schedule,Location,Date_Posted,Current_Date,Details,Apply_link
1,64e461ba602f350b823dc13e,94,TX14072023FRI1005,Host/Hostess,Part-time,Gyu-Kaku Japanese BBQ,NaN,Weekends as needed+2,"Houston, TX 77070 (Willowbrook area)",Just posted,23-07-14,Helpful attitude and friendly demeanor. He or ...,https://www.indeed.com//rc/clk?jk=9a6e26a88780...
2,64e461ba602f350b823dc140,96,TX14072023FRI1007,Host,Part-time,Denny's - Westheimer Road,NaN,Weekends as needed+1,"Houston, TX 77077",Just posted,23-07-14,"A Denny’s Host or Hostess has a “Guests First""...",https://www.indeed.com//rc/clk?jk=bcc00ac3cafb...
3,64e461ba602f350b823dc141,97,TX14072023FRI1008,Server,"Full-time, Part-time",Denny's - 6131 Highway 6 S,NaN,Weekends as needed+1,"Missouri City, TX 77459",Just posted,23-07-14,Prior experience in one of the following roles...,https://www.indeed.com//rc/clk?jk=81be6634db19...
4,64e461ba602f350b823dc142,98,TX14072023FRI1009,Server,"Full-time, Part-time",Denny's - W. Pasadena Fwy,NaN,Weekends as needed+1,"Pasadena, TX 77506",Just posted,23-07-14,Prior experience in one of the following roles...,https://www.indeed.com//rc/clk?jk=5114425a2fc5...
5,64e461ba602f350b823dc143,99,TX14072023FRI1010,Casual Dining Server,"Full-time, Part-time",TGI Friday's,NaN,Day shift+1,"Humble, TX 77338",Just posted,23-07-14,1 year server experience in a full-service res...,https://www.indeed.com//rc/clk?jk=31b7c78faaba...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,64e461ba602f350b823dc10d,45,NY14072023FRI3001,Busser,"Full-time, Part-time",Lucciola Italian Restaurant,NaN,Day shift+6,"New York, NY 10024 (Upper West Side area)",Today,23-07-14,"Assist in setting up and clearing tables, ensu...",https://www.indeed.com//company/Piccolo-Cafe/j...
141,64e461ba602f350b823dc10f,47,NY14072023FRI3003,Part Time Server for FINE DINING Restaurant,"Full-time, Part-time",Lucciola Italian Restaurant,NaN,Monday to Friday+8,"New York, NY 10024 (Upper West Side area)",Today,23-07-14,Ability to thrive in a fast-paced and high-pre...,https://www.indeed.com//company/Piccolo-Cafe/j...
143,64e461ba602f350b823dc110,48,NY14072023FRI3004,Host/Hostess,"Full-time, Part-time",DOMA Land + Sea,NaN,Monday to Friday+5,"Cedarhurst, NY 11516",Today,23-07-14,The host is expected to greet and seat our gue...,https://www.indeed.com//rc/clk?cmp=DOMA-Land-%...
147,64e461ba602f350b823dc114,52,NY14072023FRI3008,Server Assistant (Earn up to $800/wk),Full-time,Au Cheval NYC,NaN,Weekends as needed+2,"New York, NY 11203 (East Flatbush area)",Today,23-07-14,Ofrecemos un conjunto completo de beneficios y...,https://www.indeed.com//rc/clk?jk=ffe1a20f22e0...
149,64e461ba602f350b823dc175,149,TX14072023FRI4015,"CHEF, SOUS - HOURLY (FULL-TIME)",Full-time,Eurest,NaN,Monday to Friday,"Spring, TX 77389",Today,23-07-14,We are hiring immediately for a full-time CHEF...,https://www.indeed.com//rc/clk?jk=4b3d5dba2b04...

In [4]:
df.isna().sum()

_id              0
Unnamed: 0       0
JobID            0
Title            0
Job_Type         4
Company          0
Salary          73
Schedule         0
Location         0
Date_Posted      0
Current_Date     0
Details          0
Apply_link       0
dtype: int64

In [4]:
summarizer = pipeline("summarization")

No model was supplied, defaulted to sshleifer/distilbart-cnn-12-6 and revision a4f8f3e (https://huggingface.co/sshleifer/distilbart-cnn-12-6).
Using a pipeline without specifying a model name and revision in production is not recommended.

Downloading (…)lve/main/config.json:   0%|          | 0.00/1.80k [00:00<?, ?B/s]

Downloading (…)"pytorch_model.bin";:   0%|          | 0.00/1.22G [00:00<?, ?B/s]

Downloading (…)okenizer_config.json:   0%|          | 0.00/26.0 [00:01<?, ?B/s]

Downloading (…)olve/main/vocab.json:   0%|          | 0.00/899k [00:00<?, ?B/s]

Downloading (…)olve/main/merges.txt:   0%|          | 0.00/456k [00:00<?, ?B/s]

In [6]:
summarizer(df.Summary[2], max_length = 150)[0]['summary_text']

" Emmy Squared Hell's Kitchen is hiring RESTAURANT SERVERS to join our team . Servers earn $15.00 per hour (this is a tipped position subject to a $5.00 tip credit if applicable). Full time employees are eligible for comprehensive health benefits, including medical, dental, vision, life insurance and more ."

In [20]:
len(df)

71

In [11]:
summary[0]

{'summary_text': 'our servers go the extra mile to make it memorable . you’ll help with menu selections, quickly refill beverages and ensure food arrives on time, always delivering warm and friendly interactions . our busy restaurants mean consistent hours, flexible schedules and the opportunity to make a great income – as well as a lot of friends and memories along the way . if you have less experience, consider cashier or barista / Baker .'}

In [12]:
def message(df, i, summary):
    return (
        f'**Test Post: {i}**\n'
        f'Post ID: {df.JobID[i]}\n'
        f'Job Opening: {df.Title[i]}\n'
        f'\n'
        f'{df.Location[i]}\n'
        f'\n'
        f'{df.Job_Type[i]}\n'
        f'\n'
        f'👉Comment "Interested" If You want to apply.\n'
        f'\n'
        f'Work Summary: \n'
        f"{summary}\n"
        f'\n'
        f'#houstonjobs #houston #ergool #houstonjob #jobsearch #jobseekers #search #empower #career #nowhiring #jobopportunities #jobplacement #employmentassistance #jobupdates #restaurantjobs #retailjobs #jobopening #jobalert'
    )

In [13]:
count = 0
print(len(df))
for row in range(len(df)):
    try:
        print(df['Details'][row])
    except:
        count += 1
        print(f"Key Error for row {row}")
        pass
print(count)

77
Key Error for row 0
Helpful attitude and friendly demeanor. He or she interacts with guests and staff in a cordial, efficient, and professional manner and helps with preparing to…
A Denny’s Host or Hostess has a “Guests First" attitude, engaging in friendly conversation with guests as you perform duties. Must be 16 or older.
Prior experience in one of the following roles/brands is highly desirable: server, servers, waiter, waiters, wait staff, runner, restaurant crew member,…
Prior experience in one of the following roles/brands is highly desirable: server, servers, waiter, waiters, wait staff, runner, restaurant crew member,…
1 year server experience in a full-service restaurant. No one has a bigger impact on the guest’s than you. You know the menu and bring fun to every table!
Prior experience in one of the following roles/brands is highly desirable: server, servers, waiter, waiters, wait staff, runner, restaurant crew member,…
A Denny’s Host or Hostess has a “Guests First" attitude, engaging in friendly conversation with guests as you perform duties. Must be 16 or older.
Prior experience in one of the following roles/brands is highly desirable: server, servers, waiter, waiters, wait staff, runner, restaurant crew member,…
A Denny’s Host or Hostess has a “Guests First" attitude, engaging in friendly conversation with guests as you perform duties. Must be 16 or older.
Key Error for row 10
Key Error for row 11
Key Error for row 12
Key Error for row 13
Helping to keep our restaurants clean, completing side work, and organizing supplies as needed. Taking orders and delivering great food. Must be 16 or older.
Helping to keep our restaurants clean, completing side work, and organizing supplies as needed. Taking orders and delivering great food. Must be 16 or older.
Key Error for row 16
A Denny’s Host or Hostess has a “Guests First" attitude, engaging in friendly conversation with guests as you perform duties. Must be 16 or older.
A Denny’s Host or Hostess has a “Guests First" attitude, engaging in friendly conversation with guests as you perform duties. Must be 16 or older.
The Cook prepares meals by chopping vegetables, slicing meats, making salads, and cooking / assembling appetizers & entrees.
Prior experience in one of the following roles/brands is highly desirable: server, servers, waiter, waiters, wait staff, runner, restaurant crew member,…
Other responsibilities include but are not limited to: cutting/chopping fruits & vegetables, following recipes, adhering to established kitchen processes,…
Key Error for row 22
Key Error for row 23
Flexible part-time or full-time schedule. Provide hospitable and customized service to each of our Guests. Learn our menu to explain offerings to Guests.
Key Error for row 25
He or she interacts with guests and staff in a cordial, efficient, and professional manner and helps with seating guests, clearing and setting tables, preparing…
Key Error for row 27
Must be able to work holidays and weekends. Must be 16 or older. Must have a guest first mentality.
Helping to keep our restaurants clean, completing side work, and organizing supplies as needed. Taking orders and delivering great food. Must be 16 or older.
Key Error for row 30
Helping to keep our restaurants clean, completing side work, and organizing supplies as needed. Taking orders and delivering great food. Must be 16 or older.
Must be able to work holidays and weekends. Must be 16 or older. Must have a guest first mentality.
Key Error for row 33
Key Error for row 34
Prior experience in one of the following roles/brands is highly desirable: server, servers, waiter, waiters, wait staff, runner, restaurant crew member,…
Key Error for row 36
Key Error for row 37
Key Error for row 38
Bussing and cleaning guests’ tables. Dishwasher / Server Assistant is generally offered a part time restaurant job. Operating and maintaining the dish room.
Key Error for row 40
Bussing and cleaning guests’ tables. Dishwasher / Server Assistant is generally offered a part time restaurant job. Operating and maintaining the dish room.
Key Error for row 42
Bussing and cleaning guests’ tables. Dishwasher / Server Assistant is generally offered a part time restaurant job. Operating and maintaining the dish room.
Key Error for row 44
Since we are always striving to be better, support the achievement of sales by ensuring guest satisfaction and prompt problem resolution to meet our guests…
Greet guests in a prompt and courteous manner; seat guests ensuring a balanced workload among servers. As a Restaurant Host/Hostess, you’ll provide a delightful…
Prepare and serve drinks to high standards, and highlight promotions to guests. Look after your bar – keep it clean and tidy and make sure the alcohol is always…
Key Error for row 48
Key Error for row 49
Improve the Guest experience by interacting, connecting, and ensuring needs are met. Flexible part-time or full-time schedule.
Key Error for row 51
Key Error for row 52
This restaurant front of house job for bus boy / bus girl will focus on bussing tables / cleaning tables and working with guests.
Mesero / Mesera roles also must interact with co-workers in a friendly and thoughtful manner in addition to other Waiters / Waitresses.
Key Error for row 55
Key Error for row 56
Key Error for row 57
Key Error for row 58
Must be able to work holidays and weekends. Must be 16 or older. Must have a guest first mentality.
Helping to keep our restaurants clean, completing side work, and organizing supplies as needed. Taking orders and delivering great food. Must be 16 or older.
Must be able to work holidays and weekends. Must be 16 or older. Must have a guest first mentality.
Key Error for row 62
Helping to keep our restaurants clean, completing side work, and organizing supplies as needed. Taking orders and delivering great food. Must be 16 or older.
Bussing and cleaning guests’ tables. Dishwasher / Server Assistant is generally offered a part time restaurant job. Operating and maintaining the dish room.
Bussing and cleaning guests’ tables. Dishwasher / Server Assistant is generally offered a part time restaurant job. Operating and maintaining the dish room.
Key Error for row 66
Bussing and cleaning guests’ tables. Dishwasher / Server Assistant is generally offered a part time restaurant job. Operating and maintaining the dish room.
Bussing and cleaning guests’ tables. Dishwasher / Server Assistant is generally offered a part time restaurant job. Operating and maintaining the dish room.
Key Error for row 69
Bussing and cleaning guests’ tables. Dishwasher / Server Assistant is generally offered a part time restaurant job. Operating and maintaining the dish room.
Bussing and cleaning guests’ tables. Dishwasher / Server Assistant is generally offered a part time restaurant job. Operating and maintaining the dish room.
Key Error for row 72
Key Error for row 73
Key Error for row 74
Key Error for row 75
Strengths with guest service, catering, menu planning, building sales, hiring/training and daily execution of safety/sanitation are a must. .
34

In [14]:
groups = ["674232410710265", "658314902622656"] #NY, TX
access_token = "EAAJHKZAZAZBPbsBO8niM1nsPQz23X70xBOofkcKhc7hMwHSLrE7UvTZBY29ZAfc608FBIYSpVZAZCe7tH6TZAkExuC1ZCcg2psobZBnjxQcqyZCk6ZAEK6mxbiUPKuUOIhSwidTu1b1x0rEyNTFeSaTpWHwa92pAT61oHDZBDgU4xsXd8AoyaykpnUlIRPCExul0sa9xjXne4PZB0f3AVNg6dsPFET1VAAqhTI6CUKZAklypC1OVgNR87g2uTxU39CZCxysZD"
graph = facebook.GraphAPI(access_token=access_token)

for row in range(len(df)):
    print(f'Post No. {row}')
    try:
        summary = df.Details[row]
        
        if "NY" in df.Location[row]:
            try:
                x = graph.put_object(groups[0], 'feed', message=message(df, row, summary))
                print(x)
                print("Posted Successfully in NY Group!")
            except Exception as error:
                print("An exception occurred:", error)
                print(f"Passed the error and posted {df.JobID[row]}")
        elif "TX" in df.Location[row]:
            try:
                x = graph.put_object(groups[1], 'feed', message=message(df, row, summary))
                print(x)
                print("Posted Successfully in the TX Group!")
            except Exception as error:
                print("An exception occurred:", error)
                print(f"Passed the error and posted {df.JobID[row]}")
    except Exception as error:
        print("An exception occurred:", error)
     
    
    time.sleep(10)

Post No. 0
An exception occurred: 0
Post No. 1
{'id': '658314902622656_832805545173590'}
Posted Successfully in the TX Group!
Post No. 2
{'id': '658314902622656_832805705173574'}
Posted Successfully in the TX Group!
Post No. 3
{'id': '658314902622656_832805798506898'}
Posted Successfully in the TX Group!
Post No. 4
{'id': '658314902622656_832805985173546'}
Posted Successfully in the TX Group!
Post No. 5
{'id': '658314902622656_832806135173531'}
Posted Successfully in the TX Group!
Post No. 6
{'id': '658314902622656_832806235173521'}
Posted Successfully in the TX Group!
Post No. 7
{'id': '658314902622656_832806365173508'}
Posted Successfully in the TX Group!
Post No. 8
{'id': '658314902622656_832806505173494'}
Posted Successfully in the TX Group!
Post No. 9
{'id': '658314902622656_832806595173485'}
Posted Successfully in the TX Group!
Post No. 10
An exception occurred: 10
Post No. 11
An exception occurred: 11
Post No. 12
An exception occurred: 12
Post No. 13
An exception occurred: 13
Post No. 14
{'id': '658314902622656_832806918506786'}
Posted Successfully in the TX Group!
Post No. 15
{'id': '658314902622656_832807031840108'}
Posted Successfully in the TX Group!
Post No. 16
An exception occurred: 16
Post No. 17
{'id': '658314902622656_832807161840095'}
Posted Successfully in the TX Group!
Post No. 18
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI1004
Post No. 19
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI2008
Post No. 20
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI1003
Post No. 21
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI003
Post No. 22
An exception occurred: 22
Post No. 23
An exception occurred: 23
Post No. 24
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI006
Post No. 25
An exception occurred: 25
Post No. 26
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI008
Post No. 27
An exception occurred: 27
Post No. 28
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI010
Post No. 29
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI011
Post No. 30
An exception occurred: 30
Post No. 31
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI013
Post No. 32
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI014
Post No. 33
An exception occurred: 33
Post No. 34
An exception occurred: 34
Post No. 35
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI1002
Post No. 36
An exception occurred: 36
Post No. 37
An exception occurred: 37
Post No. 38
An exception occurred: 38
Post No. 39
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI3013
Post No. 40
An exception occurred: 40
Post No. 41
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI4001
Post No. 42
An exception occurred: 42
Post No. 43
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI4003
Post No. 44
An exception occurred: 44
Post No. 45
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI4005
Post No. 46
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI4006
Post No. 47
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI4007
Post No. 48
An exception occurred: 48
Post No. 49
An exception occurred: 49
Post No. 50
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI4010
Post No. 51
An exception occurred: 51
Post No. 52
An exception occurred: 52
Post No. 53
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI4013
Post No. 54
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI4014
Post No. 55
An exception occurred: 55
Post No. 56
An exception occurred: 56
Post No. 57
An exception occurred: 57
Post No. 58
An exception occurred: 58
Post No. 59
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI2011
Post No. 60
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI2012
Post No. 61
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI2013
Post No. 62
An exception occurred: 62
Post No. 63
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI2015
Post No. 64
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI3001
Post No. 65
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI3002
Post No. 66
An exception occurred: 66
Post No. 67
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI3004
Post No. 68
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI3005
Post No. 69
An exception occurred: 69
Post No. 70
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI3007
Post No. 71
An exception occurred: (#4) Application request limit reached
Passed the error and posted TX14072023FRI3008
Post No. 72
An exception occurred: 72
Post No. 73
An exception occurred: 73
Post No. 74
An exception occurred: 74
Post No. 75
An exception occurred: 75
Post No. 76
An exception occurred: (#4) Application request limit reached
Passed the error and posted NY14072023FRI4015

- change the summary
- Job Title
- RPM(REquest per minute) 200 requests per hour
- https://developers.facebook.com/docs/graph-api/overview/rate-limiting/
- 1 app multiple users
- 75 posts each day
- Unique ID's for the Jobs(e.g. NYTIME)
- Write an excel file from Digital Ocean (Unique_ID, Status, Apply_Link)

In [ ]:
import requests
import pymongo

# Set up your Facebook Graph API access token
access_token = 'EAAJHKZAZAZBPbsBO8niM1nsPQz23X70xBOofkcKhc7hMwHSLrE7UvTZBY29ZAfc608FBIYSpVZAZCe7tH6TZAkExuC1ZCcg2psobZBnjxQcqyZCk6ZAEK6mxbiUPKuUOIhSwidTu1b1x0rEyNTFeSaTpWHwa92pAT61oHDZBDgU4xsXd8AoyaykpnUlIRPCExul0sa9xjXne4PZB0f3AVNg6dsPFET1VAAqhTI6CUKZAklypC1OVgNR87g2uTxU39CZCxysZD'

# Set up your MongoDB connection
mongo_client = pymongo.MongoClient('mongodb://localhost:27017/')
db = mongo_client['your_database']
collection = db['your_collection']

# Define the Facebook groups IDs for TX and NY
tx_group_id = 'TX_GROUP_ID'
ny_group_id = 'NY_GROUP_ID'

# Retrieve data from MongoDB
data = collection.find()

# Loop through each row of data and post to respective groups
for row in data:
    location = row['location']  # Assuming the location field is named 'location'
    message = row['message']    # Assuming the message field is named 'message'

    # Determine the group to post based on location
    group_id = tx_group_id if location == 'TX' else ny_group_id

    # Prepare the API endpoint and parameters
    endpoint = f'https://graph.facebook.com/{group_id}/feed'
    params = {
        'access_token': access_token,
        'message': message
    }

    # Make the POST request to post on the group
    response = requests.post(endpoint, data=params)

    # Check for successful posting
    if response.status_code == 200:
        print(f"Posted '{message}' to group {group_id}")
    else:
        print(f"Failed to post '{message}' to group {group_id}. Status code: {response.status_code}")

In [15]:
import requests

base_url = 'https://graph.facebook.com/v13.0/oauth/access_token'

params = {
    'grant_type': 'fb_exchange_token',
    'client_id': '641193897508283',
    'client_secret': '05cd75c91b61a5ade15f62308ceadc2a',
    'fb_exchange_token': 'EAAJHKZAZAZBPbsBO76bpyx8F139ZA2utVrfrALg7M7H4kw55qfJgFIZBGcYzCAgIruTMDGOVnCSsncvUT6vhloM0YG5EEibkzKoQS45Q5Yhua5zkA7Gnmr96bN65fgSK8L2vVMG1QsU6KKgIfRBuZCxWNhLOEQiqZCiqo4Akv2VJ4Urk86bHXRhJlkBTOt5OYJApYdWuZCZAdBKcZCpk6Bx5BD0osUZAL0i6uaztZAoVANqNdvcA8lWSI6KJDA5meAZDZD'
}

response = requests.get(base_url, params=params)

if response.status_code == 200:
    response_data = response.json()
    print(response_data)
else:
    print(f"Failed to exchange token. Status code: {response.status_code}")

{'access_token': 'EAAJHKZAZAZBPbsBO5t4D0jmbuVZBM41QJlvw8OB7ZASADxZA5F1RsSPBmbzzvcZBPyVBrE7T5qhJeasJ2kkkWwJ6H9Dro96ZCbpuhBGT2ZB9urGe0M2wscFemWtZB6VyEot2ZBSihFX1jQ5ZAoK26m65eQ3TicbZBoENSsiwuxweTnRZBJKTehz9J3ZAqeAg0vZA', 'token_type': 'bearer', 'expires_in': 5174587}